body {
    margin: 0;
  }
  
  .navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    width: 80px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
  }
  
  .logo-container h1 {
    margin: 0;
    font-size: 20px;
  }
  
  .navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navigation li {
    margin-right: 15px;
  }
  
  .navigation a {
    color: #fff;
    font-size: 16px;
  }
  
  .content {
    padding: 20px;
  }
  